/* this is are the main styles for the Technical Documentation Page about JS*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "Gilroy";
	font-size: 0.8rem;
	color: #fff;
	background: #202020;
	margin: 0;
}

.container {
	display: flex;
}

#navbar {
	width: 20%;
	height: 100%;
	background-color: #000;
	position: fixed;
	
}

.nav-link {
	list-style: none;
	text-decoration: none;
	color: #fff;
	font-size: 0.9rem;
	transition: all 1s;
	font-weight: bold;
}

.nav-link:hover {
	color: #fcdc00;
}

.li-link {
	list-style: none;
	margin-top: 15%;
}

.header {
	font-size: 1.2rem;
	text-align: center;
	margin: 20%;
}

.header > a {
	text-decoration: none;
	color: #fff;
	transition: all 1s;
}

.header > a:hover {
	color: #fcdc00;
}

#hero {
	height: 50vw;
	width: 100%;
	background-image: url(image/js-hero1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #000;

}

.text {
	width: 20%;
	font-size: 2.5rem;
	margin-left: 25%;
	margin-top: 0;
	padding-top: 30px;
}

.text-layout {
	width: 25%;
	text-align: center;
	font-weight: bold;
	margin-left: 45%;
	margin-top: 18%;
	color: #000;
}

.text-layout > h1 {
	color: #000;
	margin-bottom: 3%;

}

.text-layout > a {
	color: #000;
	text-decoration: none;
}

#main-doc {
	width: 80%;
	margin-left: 20%;
}

header {
	margin-left: 2rem;
	font-size: 2rem;
	font-weight: bold;
}

.main-section {
	margin-top: 80px;
	margin-bottom: 80px;
}

article {
	padding-right: 5%; 
	padding-left: 2%;
}

h1 {
	font-weight: bold;

}

code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #707070;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}


@media (max-width: 749px) {
	.navbar {padding-top: 15px;}
  	.navbar a {font-size: 18px;}

}