/* this is are the main styles for the Technical Documentation Page about JS*/

html {
	overflow-x: hidden;
}

body {
	font-family: "Gilroy";
	font-size: 0.8rem;
	color: #fff;
	background-color: #000;
	margin: 0;
	transition: background-color .5s;
}

.container {
	display: flex;
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: hidden;
}

.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbar a:hover{
  color: #f1f1f1;
}

.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.li-link {
	list-style: none;
}

.header {
	font-size: 1.2rem;
	margin-left: 0;
	margin-right: 0%;
}

#hero {
	height: 50vw;
	width: 100%;
	background-image: url(image/js-hero1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #000;

}

.text {
	width: 20%;
	font-size: 1.5rem;
	margin-left: 25%;
	margin-top: 0;
	padding-top: 30px;
}

.text-layout {
	width: 25%;
	text-align: center;
	margin-left: 35%;
	margin-top: 25%;
	color: #000;
}

.text-layout > h1 {
	color: #000;
	margin-bottom: 3%;

}

#main-doc {
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 1%; 
	background: #202020;
}

header {
	margin-left: 2rem;
	font-size: 2rem;
	font-weight: bold;
}

article {
	padding-right: 5%; 
	padding-left: 2%;
}

h1 {
	font-weight: bold;

}

code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #707070;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}


@media (max-width: 749px) {
	.text {
		font-size: 1.1rem;
		margin-left: 5%;
	}
}